# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/0.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/1.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/2.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/3.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/4.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/5.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/6.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/7.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/8.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/9.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/10.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/11.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/12.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/13.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/index.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/index.pack.old
.angular/cache/13.3.9/babel-webpack/05fd428bb33d472d3b874792a85f41da.json
.angular/cache/13.3.9/babel-webpack/9db9a5989df53ac287e64579d809c4ad.json
.angular/cache/13.3.9/babel-webpack/25aecc7241a4c1025e9bcbea5946a308.json
.angular/cache/13.3.9/babel-webpack/59d1858bd81fa223bad15c89a81a8196.json
.angular/cache/13.3.9/babel-webpack/99cfda9839ed8bdd37fc87cc3658ba42.json
.angular/cache/13.3.9/babel-webpack/d6b9e084ba679b54e01b8e373dc5bc8f.json
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/14.pack
.angular/cache/13.3.9/angular-webpack/6433c6b1feebccb3cc4c7267806fa81bfe10e030/15.pack
